
body {
  background-color:#68909c;
  font-family: 'Lato', bold;
}

body{
  color: black;
  text-align:justify;
  font-size:16px;
}

img {
  vertical-align: bottom;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, .h1 {
  display: none;
}


h2, .h2 {
  color: black;
}

h3, .h3  {
    margin-top: 18px;
    color: black;
}

h4, .h4  {
    margin-top: 12px;
    color: black;
}

/* link */
a {
  color: black;
}

a:active, a:hover{
  color: white;
  text-decoration:none;
}

a p {
  display:none;
}

a:hover p {
  display:block;
}

span {
  color: white;
  font-weight: bold;
}

.btn {
    border-width: 0 0 0 0;
    font-weight: normal;
}

/* brand name in menu */
.navbar-default .navbar-brand {
  color: #68909c;
}

.navbar-default:active {
  background-color: #68909c;
}
