
body {
  background-color:#68909c;
  font-family: 'Lato', bold;
}

body{
  color: black;
  text-align:justify;
  font-size:20px;
}

img {
  vertical-align: bottom;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, .h1 {
  display: none;
}


h2, .h2 {
  color: black;
}

h3, .h3  {
    margin-top: 20px;
    font-size:140%;
    color: white;
}

h4, .h4  {
    line-height: 130%;
    font-size: 120%;
    font-style: bold;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.st {
  font-size: 100%;
  color: black;
  font-style: italic;
  margin-bottom: 10px;
}

div.intro {
  font-size: 24px;
}

/* link */
a {
  color: black;
}

a:active, a:hover{
  color: white;
  text-decoration:none;
}

a p {
  display:none;
}

a:hover p {
  display:block;
}

span {
  color: white;
  font-weight: bold;
}

.btn {
    border-width: 0 0 0 0;
    font-weight: normal;
}

/* brand name in menu */
.navbar-default .navbar-brand {
  color: #68909c;
  font-size: 24px;
}

.navbar-default:active {
  background-color: #68909c;
}
